<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"   />
</head>
<body>
<div class="container-fluid text-center">
    <h1> Testing, atention please!</h1>
    <h2> Some more testing, please wait</h2>
    <div class="m-2">
        <a class="h3 m-2" th:href="@{/chestionare}">Chestionare</a>
    </div>
    <div class="m-2">
        <a class="h3 m-3" th:href="@{/intrebarisimulator}">Intrebari Simulator Examen</a>
    </div>
    <div class="m-2">
        <a class="h3 m-3" th:href="@{/simulatorExamen}">Simulator Examen</a>
    </div>
</div>
</body>
</html>