<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Scor</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
  <h2>Scorul tau a fost</h2>
  <div class="m-2">
    <h4 class="display-1" th:text="${scor}" th:class="${scor &lt; 21} ? 'text-danger' : 'text-success'"></h4>
  </div>
  <div th:if="${scor &lt; 21}" class="text-danger">
    <h3>Ai picat examenul</h3>
  </div>
  <div th:if="${scor &gt;= 21}" class="text-success">
    <h3>Ai trecut examenul</h3>
  </div>
  <div class="m-2">
    <a class="btn btn-primary btn-lg" th:href="@{http://localhost:8080}">
      <i class="fas fa-home"></i> Home
    </a>
  </div>
</div>
<script src="https://kit.fontawesome.com/78b4b9bef4.js" crossorigin="anonymous"></script>
</body>
</html>