<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Simulator Examen</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    body {
      background-color: #F5F5F5;
    }

    .container-fluid {
      margin-top: 2rem;
    }

    h4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    input[type="checkbox"] {
      margin-right: 1rem;
    }

    .btn-primary {
      margin-top: 1rem;
    }

    .progress {
      margin-top: 2rem;
    }
  </style>
</head>

<body>
<div class="container-fluid text-center">
  <div class="m-2">
    <a class="h3 m-2" th:href="@{http://localhost:8080}">Home</a>
  </div>
  <div class="h5 m-2">
    <span id="time-left">Timpul ramas: <span></span></span>
    <span id="intrebarea">Scorul dumneavoastra de pana acuma este <span th:text="${scor}"></span></span>
    <div></div>
    <form id="myForm" method="post" th:action="@{/submitForm}">
      <h4 th:text="${listIntrebari[index].intrebare}"></h4>
      <input type="checkbox" name="myBooleanInput1" />
      <span id="optiuneaa" th:text="${listIntrebari[index].optiuneaa}"></span>
      <br />
      <input type="checkbox" name="myBooleanInput2" />
      <span id="optiuneab" th:text="${listIntrebari[index].optiuneab}"></span>
      <br />
      <input type="checkbox" name="myBooleanInput3" />
      <span id="optiuneac" th:text="${listIntrebari[index].optiuneac}"></span>
      <br /><br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div></div>
    <span>Sunteti la intrebarea <span th:text="${index}"></span> din <span>26</span></span>
  </div>
  <div class="progress">
    <div class="progress-bar" th:style="'width: ' + (${index} * 4) + '%'" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
<script type="text/javascript">
  function submitForm() {
    // Get the form data
    var formData = new FormData(document.getElementById("chestionar"));

    // Send the data to the server using AJAX
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/submitForm");
    xhr.send(formData);

    // Handle the response from the server (if any)
    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          // Success! Do something with the response (if any)
        } else {
          // Error! Handle the error (if any)
        }
      }
    }
    myFunction()
  }
  function myFunction(textArray) {
    $.ajax({
      url: "/getTexts", // replace with the URL of your controller method
      type: "POST",
      data: JSON.stringify(textArray),
      contentType: "application/json",
      success: function(data) {
        // update each element with the corresponding text
        document.getElementById("intrebarea").innerHTML = data[0];
        document.getElementById("optiuneaa").innerText = data[1];
        document.getElementById("optiuneab").innerText = data[2];
        document.getElementById("optiuneac").innerText = data[3];
      }
    });
    intrebariTerminate++;
  }
</script>
<script type="text/javascript">
  var endTime = Date.now() + (30 * 60 * 1000); // 30 minutes from now
  localStorage.setItem("endTime", endTime);

  var countdownTimer = setInterval(function() {
    var currentTime = Date.now();
    var remainingTime = Math.floor(((endTime - currentTime) / 1000) / 60);
    document.getElementById("time-left").getElementsByTagName("span")[0].textContent = remainingTime + " minute";

    if (remainingTime <= 0) {
      clearInterval(countdownTimer);
      window.location.href = "rezultat.html";
    }
  }, 1000);
</script>
</body>
</html>