<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Testing</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"   />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container-fluid text-center">
  <div class="m-2">
    <a class="h3 m-2" th:href="@{http://localhost:8080}">Home</a>
  </div>
  <div class="h5 m-2">
    <span id="intrebarea">Scorul dumneavoastra de pana acuma este <span th:text="${scor}"></span></span>
    <div></div>
    <form id="myForm" method="post" th:action="@{/submitForm}">
      <h4 th:text="${listIntrebari[index].intrebare}"></h4>
      <input type="checkbox" name="myBooleanInput1"/>
      <span th:text="${listIntrebari[index].optiuneaa}"></span>
      <br/>
      <input type="checkbox" name="myBooleanInput2"/>
      <span th:text="${listIntrebari[index].optiuneab}"></span>
      <br/>
      <input type="checkbox" name="myBooleanInput3"/>
      <span th:text="${listIntrebari[index].optiuneac}"></span>
      <br/><br/>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div></div>
    <span>Sunteti la intrebarea <span th:text="${index}"><span> din 26</span></span></span>
</div>
</div>
<script type="text/javascript">
  function submitForm() {
    // Get the form data
    var formData = new FormData(document.getElementById("chestionar"));

    // Send the data to the server using AJAX
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/submitForm");
    xhr.send(formData);

    // Handle the response from the server (if any)
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          // Success! Do something with the response (if any)
        } else {
          // Error! Handle the error (if any)
        }
      }
    }
    myFunction()
  }
  function myFunction(textArray) {
    $.ajax({
      url: "/getTexts", // replace with the URL of your controller method
      type: "POST",
      data: JSON.stringify(textArray),
      contentType: "application/json",
      success: function(data) {
        // update each element with the corresponding text
        document.getElementById("intrebarea").innerHTML = data[0];
        document.getElementById("optiuneaa").innerText = data[1];
        document.getElementById("optiuneab").innerText = data[2];
        document.getElementById("optiuneac").innerText = data[3];
      }
    });
    intrebariTerminate++;
  }
</script>
</body>
</html>